<ul class="demo-list-icon mdl-list">
  <li class="mdl-list__item">
    <a class="mdl-list__item-primary-content" href="">
      <i class="material-icons mdl-list__item-icon">inbox</i>
      Inbox
    </a>
  </li>
  <li class="mdl-list__item">
    <a class="mdl-list__item-primary-content" href="">
      <i class="material-icons mdl-list__item-icon">send</i>
      Sent
    </a>
  </li>
  <li class="mdl-list__item">
    <a class="mdl-list__item-primary-content" href="">
      <i class="material-icons mdl-list__item-icon">drafts</i>
      Drafts
    </a>
  </li>
  <li class="mdl-list__item">
    <a class="mdl-list__item-primary-content" href="">
      <i class="material-icons mdl-list__item-icon">view_headline</i>
      All
    </a>
  </li>
  <li class="mdl-list__item">
    <a class="mdl-list__item-primary-content" href="">
      <i class="material-icons mdl-list__item-icon">warning</i>
      Spam
    </a>
  </li>
</ul>